body{
    padding:20px;
    background-color: #f8f8f8;
}

.ng-touched.ng-invalid{
    border:1px solid palevioletred;
}

.navbar{
    background-color:#456;

}
.navbar a,.navbar-default .navbar-brand,.navbar-default .navbar-nav > li > a{
    color:#f8F8F8;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#f8F8F8;
}